body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

/* Home */

.home {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgb(157, 219, 228);
  border-radius: 4%;
}

.home::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 5%;
  gap: 5%;
}

/* SearchBar */
.search-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

.search-field {
  width: 100%;
  padding: 5%;
  border: none;
  box-sizing: border-box;
}

/* List */

.locations {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: medium;
  width: 100%;
  height: auto;
  background-color: white;
  overflow-y: auto;
  z-index: 2;
  box-sizing: border-box;
}

.location-card {
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
}

.location-card:hover {
  background-color: bisque;
  font-weight: bold;
  cursor: pointer;
}

/* CurrentWeather */

.weather-img {
  width: 100%;
  height: auto;
}

.col {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.weather-info {
  background-color: hsla(180, 100%, 97%, 0.418);
  border-radius: 5%;
  border: solid 0.2em white;
  box-shadow: 0.2em 0.1em 1em white;
}

/* ForecastHourly */

.forecast-hourly-container {
  position: relative;
  overflow: hidden;
  background-color: hsla(180, 100%, 97%, 0.418);;
  border-radius: 4%;
  margin: 2%;
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 2%;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.hour-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5%;
  border: solid 0.2em white;
  box-shadow: 0.1em 0.1em 0.5em white;
  padding: 7.8%;
  margin: 1%;
}


.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  cursor: pointer;
  color: hsl(0, 0%, 48%);
  font-size: xx-large;
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  right: 0;
}

.today-text {
  margin: 3%;
}

/* ForecastWeekly */
.week-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5%;
  border: solid 0.2em white;
  box-shadow: 0.1em 0.1em 0.5em white;
  padding: 7.8%;
  margin: 1%;
}

.week-card:hover {
  cursor: pointer;
}