body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  margin: 1%;
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 100vh;
  background-color: rgb(157, 219, 228);
  border-radius: 4%;
}

.search-bar {
  padding: 5%;
}

.search-field {
  width: 16vw;
  height: 4vh;
}